@model SearchVM

@section css {
    <link rel="stylesheet" href="~/assets/css/games/games.css">
}

<main class="pb-5">
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a asp-controller="home" asp-action="index">Ana səhifə</a>
                <span> > </span>
                <a asp-controller="games" asp-action="index">Oyunlar</a>
            </div>
            <div class="page-topic">
                <h3>Axtarış nəticələri</h3>
            </div>
            <div class="products">
                <div class="row">
                    @if (Model.Accessories.Any())
                    {
                        @foreach (var item in Model.Accessories)
                        {
                            <div class="col-lg-3 col-6 product">
                                <div class="card-main">
                                    <div class="card-top">
                                        <a asp-controller="Accessories" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/Accessories/@item.Images.FirstOrDefault(m=>m.IsMain==true).Name" alt="">
                                        </a>
                                        @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                        {
                                            <div class="new">
                                                <span>YENI</span>
                                            </div>
                                        }
                                        @if (item.Discounts != null && item.Discounts.Any())
                                        {
                                            <div class="discount">
                                                <span>ENDIRIM</span>
                                            </div>
                                        }
                                        <div class="like">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>

                                    </div>
                                    <div class="card-bottom">
                                        <div class="game-name">
                                            <a href="">
                                                @item.Name
                                                @if (item.Category.Any())
                                                {
                                                    @($" ({string.Join(", ", item.Category.Select(c => c.Name))})")
                                                }
                                            </a>
                                        </div>

                                        <div class="game-price mt-4">
                                            @if (item.Category != null && item.Category.Any())
                                            {
                                                <span class="old-price">@item.Price.ToString("F0") ₼</span>


                                                decimal discountedPrice = item.Price;
                                                foreach (var discount in item.Discounts)
                                                {
                                                    discountedPrice *= (1 - discount.Value / 100);
                                                }


                                                <span class="price">@discountedPrice.ToString("F0") ₼</span>
                                            }
                                            else
                                            {
                                                <span class="price">@item.Price.ToString("F0") ₼</span>
                                            }
                                        </div>

                                    </div>
                                    <div class="add-basket">
                                        <button class="add-basket-btn" type="submit" product-type="game" data-id="@item.Id">SƏBƏTƏ AT</button>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                    @if (Model.Games.Any())
                    {
                        @foreach (var item in Model.Games)
                        {
                            <div class="col-lg-3 col-6 product">
                                <div class="card-main">
                                    <div class="card-top">
                                        <a asp-controller="Games" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/Game-Images/@item.GameImages.FirstOrDefault(m=>m.IsMain==true).Name" alt="">
                                        </a>
                                        @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                        {
                                            <div class="new">
                                                <span>YENI</span>
                                            </div>
                                        }
                                        @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                        {
                                            <div class="discount">
                                                <span>ENDIRIM</span>
                                            </div>
                                        }
                                        <div class="like">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>

                                    </div>
                                    <div class="card-bottom">
                                        <div class="game-name">
                                            <a href="">
                                                @item.Name
                                                @if (item.GameCategory.Any())
                                                {
                                                    @($" ({string.Join(", ", item.GameCategory.Select(c => c.Name))})")
                                                }
                                            </a>
                                        </div>

                                        <div class="game-price mt-4">
                                            @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                            {
                                                <span class="old-price">@item.Price.ToString("F0") ₼</span>


                                                decimal discountedPrice = item.Price;
                                                foreach (var discount in item.GameDiscounts)
                                                {
                                                    discountedPrice *= (1 - discount.Value / 100);
                                                }


                                                <span class="price">@discountedPrice.ToString("F0") ₼</span>
                                            }
                                            else
                                            {
                                                <span class="price">@item.Price.ToString("F0") ₼</span>
                                            }
                                        </div>

                                    </div>
                                    <div class="add-basket">
                                        <button class="add-basket-btn" type="submit" product-type="game" data-id="@item.Id">SƏBƏTƏ AT</button>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                    @if (Model.Consoles.Any())
                    {
                        @foreach (var item in Model.Consoles)
                        {
                            <div class="col-lg-3 col-6 product">
                                <div class="card-main">
                                    <div class="card-top">
                                        <a asp-controller="Consoles" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/images/Console-Images/@item.Images.FirstOrDefault(m=>m.IsMain==true).Name" alt="">
                                        </a>
                                        @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                        {
                                            <div class="new">
                                                <span>YENI</span>
                                            </div>
                                        }
                                        @if (item.Discounts != null && item.Discounts.Any())
                                        {
                                            <div class="discount">
                                                <span>ENDIRIM</span>
                                            </div>
                                        }
                                        <div class="like">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>

                                    </div>
                                    <div class="card-bottom">
                                        <div class="game-name">
                                            <a href="">
                                                @item.Name
                                                @if (item.Categories.Any())
                                                {
                                                    @($" ({string.Join(", ", item.Categories.Select(c => c.Name))})")
                                                }
                                            </a>
                                        </div>

                                        <div class="game-price mt-4">
                                            @if (item.Categories != null && item.Categories.Any())
                                            {
                                                <span class="old-price">@item.Price.ToString("F0") ₼</span>


                                                decimal discountedPrice = item.Price;
                                                foreach (var discount in item.Discounts)
                                                {
                                                    discountedPrice *= (1 - discount.Value / 100);
                                                }


                                                <span class="price">@discountedPrice.ToString("F0") ₼</span>
                                            }
                                            else
                                            {
                                                <span class="price">@item.Price.ToString("F0") ₼</span>
                                            }
                                        </div>

                                    </div>
                                    <div class="add-basket">
                                        <button class="add-basket-btn" type="submit" product-type="console" data-id="@item.Id">SƏBƏTƏ AT</button>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                </div>
            </div>

        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/games.js"></script>
    <script src="~/assets/js/basket.js"></script>
}