@model PaginateResponse<ConsoleVM>

@section css {
    <link rel="stylesheet" href="~/assets/css/consoles/console.css">
}

<main>
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                <span> > </span>
                <a href="./consoles.html">Oyun konsolları</a>
            </div>
            <div class="page-topic">
                <h3>Oyun konsolları</h3>
            </div>
            <div class="product-filters">
                <div class="reset-filter">
                    <span>Filterlər</span>
                    <a asp-action="index" style="color:rgba(0, 0, 0, 0.4);font-size: 12px;border-radius: 20px;padding-inline: 12px;background-color: inherit;border: 1px solid #ccc;">Sıfırla</a>
                </div>
                <div class="filters">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-6 filter">
                            <div class="filter-main category">
                                <span>Kateqoriya</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="categories d-none">
                                    <ul>
                                        @foreach (var item in (List<CategoryVM>)ViewBag.Category)
                                        {
                                            <li>
                                                <a style="display:block" asp-action="Index" asp-route-category="@item.Name">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-6 filter">
                            <div class="filter-main price-filter">
                                <span>Qiymət aralığı</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="prices d-none">
                                    <ul>
                                        <li><a style="display:block" asp-action="Index" asp-route-priceRange="300">0 ₼ - 300 ₼</a></li>
                                        <li><a style="display:block" asp-action="Index" asp-route-priceRange="150">300 ₼ - 500 ₼</a></li>
                                        <li><a style="display:block" asp-action="Index" asp-route-priceRange="1000">500 ₼ - 1000 ₼</a></li>
                                        <li><a style="display:block" asp-action="Index" asp-route-priceRange="2000">1000 ₼ - 2000 ₼</a></li>
                                        <li><a style="display:block" asp-action="Index" asp-route-priceRange="10000">1000 ₼ - 10000 ₼</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-3 mt-lg-0 mt-4 col-6 filter">
                            <div class="filter-main order-filter">
                                <span>Sırala</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="orders d-none">
                                    <ul>
                                        <li><a style="display:block" asp-action="Index" asp-route-orderBy="new">Yenilər əvvəlcə</a></li>
                                        <li><a style="display:block" asp-action="Index" asp-route-orderBy="cheap">Əvvəlcə ucuz</a></li>
                                        <li><a style="display:block" asp-action="Index" asp-route-orderBy="expensive">Əvvəlcə bahalı</a>
                                        <li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products">
                <div class="row">
                    @foreach (var item in Model.Datas)
                    {
                        <div class="col-lg-3 col-6 product">
                            <div class="card-main">
                                <div class="card-top">
                                    <a href="">
                                        <img src="~/assets/images/Console-Images/@item.Images.FirstOrDefault(m=>m.IsMain==true).Name" alt="">
                                    </a>
                                    @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                    {
                                        <div class="new">
                                            <span>YENI</span>
                                        </div>
                                    }
                                    @if (item.Discounts != null && item.Discounts.Any())
                                    {
                                        <div class="discount">
                                            <span>ENDIRIM</span>
                                        </div>
                                    }
                                    <div class="like">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>

                                </div>
                                <div class="card-bottom">
                                    <div class="game-name">
                                        <a href="">
                                            @item.Name
                                            @if (item.Categories.Any())
                                            {
                                                @($" ({string.Join(", ", item.Categories.Select(c => c.Name))})")
                                            }
                                        </a>
                                    </div>

                                    <div class="game-price mt-4">
                                        @if (item.Discounts != null && item.Discounts.Any())
                                        {
                                            <span class="old-price">@item.Price.ToString("F0") ₼</span>


                                            decimal discountedPrice = item.Price;
                                            foreach (var discount in item.Discounts)
                                            {
                                                discountedPrice *= (1 - discount.Value / 100);
                                            }


                                            <span class="price">@discountedPrice.ToString("F0") ₼</span>
                                        }
                                        else
                                        {
                                            <span class="price">@item.Price.ToString("F0") ₼</span>
                                        }
                                    </div>

                                </div>
                                <div class="add-basket">
                                    <button>SƏBƏTƏ AT</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="pagination-part">
                <div class="pagination">
                    <a asp-controller="consoles"
                       asp-action="Index"
                       asp-route-page="@(Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1)"
                       asp-route-category="@ViewBag.SelectedCategory"
                       asp-route-priceRange="@ViewBag.SelectedPriceRange"
                       asp-route-orderBy="@ViewBag.SelectedOrderBy"
                       class="page-arrow">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>

                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <a asp-controller="consoles"
                           asp-action="Index"
                           asp-route-page="@i"
                           asp-route-category="@ViewBag.SelectedCategory"
                           asp-route-priceRange="@ViewBag.SelectedPriceRange"
                           asp-route-orderBy="@ViewBag.SelectedOrderBy"
                           class="page-value @(Model.CurrentPage == i ? "active" : "")" data-id="@i">
                            @i
                        </a>
                    }

                    <a asp-controller="consoles"
                       asp-action="Index"
                       asp-route-page="@(Model.CurrentPage < Model.TotalPage ? Model.CurrentPage + 1 : Model.TotalPage)"
                       asp-route-category="@ViewBag.SelectedCategory"
                       asp-route-priceRange="@ViewBag.SelectedPriceRange"
                       asp-route-orderBy="@ViewBag.SelectedOrderBy"
                       class="page-arrow">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>


        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/consoles.js"></script>
}