@section css {
    <link rel="stylesheet" href="~/assets/css/productDetail/productDetail.css">
}

@model AccessoryVM

<main class="mb-5 pb-xl-5">
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                <span> > </span>
                <span>@Model.Name</span>
            </div>
            <div class="product-section">
                <div class="row">
                    <div class="col-xl-5 col-12">
                        <div class="product-images">
                            <div class="side-images">
                                @foreach (var item in Model.Images.Where(m => m.IsMain == false))
                                {
                                    <div class="image" style="background-image: url('/assets/images/Accessories/@item.Name')">
                                    </div>
                                }
                            </div>
                            <div class="main-image">
                                <div class="cover-image" style="background-image: url('/assets/images/Accessories/@Model.Images.FirstOrDefault(m=>m.IsMain==true).Name')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-custom col-12 mt-xl-0 mt-5">
                        <div class="product-info">
                            @if (Model.StockCount > 0)
                            {
                                <span class="stock">Stokda mövcuddur</span>
                            }
                            <p class="product-name">@Model.Name </p>
                            <div class="like-product">
                                <i class="fa-solid fa-heart"></i>
                                <span>İstək siyahısına əlavə edildi</span>
                            </div>
                            <div class="product-desc" bis_skin_checked="1">
                                <p>
                                    @Html.Raw(Model.Description)
                                </p>

                                <div class="stock-count">
                                    <p>Stok sayı: <span>@Model.StockCount.ToString()</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-custom col-12 mt-xl-0 mt-4">
                        <div class="product-payment">
                            <div class="add-to-cart">
                                <p>
                                    @if (Model.Discounts != null && Model.Discounts.Any())
                                    {

                                        decimal discountedPrice = Model.Price;
                                        foreach (var discount in Model.Discounts)
                                        {
                                            discountedPrice *= (1 - discount.Value / 100);
                                        }


                                        <span class="price">@discountedPrice.ToString("F0") ₼</span>
                                    }
                                    else
                                    {
                                        <span class="price">@Model.Price.ToString("F0") ₼</span>
                                    }
                                </p>
                                <div class="product-count">
                                    <span>Say</span>
                                    <div class="quantity-select">
                                        <div class="qty-input">
                                            <button class="qty-count qty-count--minus" data-action="minus"
                                                    type="button">
                                                -
                                            </button>
                                            <input class="product-qty" type="number" name="product-qty" min="0"
                                                   max="10" value="1">
                                            <button class="qty-count qty-count--add" data-action="add"
                                                    type="button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-basket">
                                        <button class="add-basket-btn" type="submit" product-type="accessory" data-id="@Model.Id">SƏBƏTƏ AT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>