@model HomeVM

<main>
    <section id="main-header">
        <div class="backround-image" style="background-image:url('/assets/images/@Model.WelcomeBanner.Image')">
            <div class="container-xxl">
                <div class="opening-message">
                    <h1>@Model.WelcomeBanner.Title</h1>
                    <h2>@Model.WelcomeBanner.Description</h2>
                    <a class="buy-now" asp-controller="Games" asp-action="Index">İNDİ AL</a>
                </div>
            </div>
        </div>
    </section>
    <section id="make-shop">
        <div class="container">
            <h3 class="shop-message">Alış-veriş edin</h3>
            <div class="row">
                @{
                    var consoleShortcut = Model.HomeShortcuts.FirstOrDefault(m => m.Type == "console");
                }
                @if (consoleShortcut != null)
                {
                    <div class="col-xl-3 col-6 shop-card">
                        <div class="card-main">
                            <a asp-controller="consoles" asp-action="index">
                                <div class="card-title">
                                    <p>@consoleShortcut.Title</p>
                                    <p>@consoleShortcut.Description</p>
                                </div>
                                <div class="card-image">
                                    <img src="~/assets/images/HomeShotcuts/@consoleShortcut.Image" alt="">
                                </div>
                            </a>
                            <div class="all-products">
                                <a asp-controller="consoles" asp-action="index">Hamısı</a>
                            </div>
                        </div>
                    </div>
                }
                @{
                    var gameShortcut = Model.HomeShortcuts.FirstOrDefault(m => m.Type == "game");
                }
                @if (gameShortcut != null)
                {
                    <div class="col-xl-3 col-6 shop-card">
                        <div class="card-main">
                            <a asp-controller="games" asp-action="index">
                                <div class="card-title">
                                    <p>@gameShortcut.Title</p>
                                    <p>@gameShortcut.Description</p>
                                </div>
                                <div class="card-image">
                                    <img src="~/assets/images/HomeShotcuts/@gameShortcut.Image" alt="">
                                </div>
                            </a>
                            <div class="all-products">
                                <a asp-controller="games" asp-action="index">Hamısı</a>
                            </div>
                        </div>
                    </div>
                }

                @{
                    var accessoryShortcut = Model.HomeShortcuts.FirstOrDefault(m => m.Type == "accessory");
                }
                @if (accessoryShortcut != null)
                {
                    <div class="col-xl-3 col-6 shop-card">
                        <div class="card-main">
                            <a asp-controller="Accessories" asp-action="index">
                                <div class="card-title">
                                    <p>@accessoryShortcut.Title</p>
                                    <p>@accessoryShortcut.Description</p>
                                </div>
                                <div class="card-image">
                                    <img src="~/assets/images/HomeShotcuts/@accessoryShortcut.Image" alt="">
                                </div>
                            </a>
                            <div class="all-products">
                                <a asp-controller="Accessories" asp-action="index">Hamısı</a>
                            </div>
                        </div>
                    </div>
                }

                @{
                    var newsShortcut = Model.HomeShortcuts.FirstOrDefault(m => m.Type == "news");
                }
                @if (newsShortcut != null)
                {
                    <div class="col-xl-3 col-6 shop-card">
                        <div class="card-main">
                            <a asp-controller="news" asp-action="index">
                                <div class="card-title">
                                    <p>@newsShortcut.Title</p>
                                    <p>@newsShortcut.Description</p>
                                </div>
                                <div class="card-image">
                                    <img src="~/assets/images/HomeShotcuts/@newsShortcut.Image" alt="">
                                </div>
                            </a>
                            <div class="all-products">
                                <a asp-controller="news" asp-action="index">Hamısı</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section id="special-game">
        <div class="backround-image" style="background-image:url('/assets/images/@Model.SpecialGameBanners.FirstOrDefault(m => m.IsActive == true).Image')">
            <div class="container-xxl">
                <div class="game-info">
                    <h3 class="game-name">@Model.SpecialGameBanners.FirstOrDefault(m => m.IsActive == true).Name</h3>
                    <h4 class="game-description">
                        @Model.SpecialGameBanners.FirstOrDefault(m => m.IsActive == true).Description
                    </h4>
                    <a class="more-info" asp-controller="Search" asp-action="Index" asp-route-searchText="God Of W0-p8uiar">DAHA ƏTRAFLI <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="best-sellers">
        <div class="container-xxl">
            <h3 class="title ">Ən yaxşı endirimlər</h3>
            <div class="products">
                <div class="row">
                    @foreach (var item in Model.Games
                    .OrderBy(m => m.GameDiscounts.Any() ? m.GameDiscounts.Max(d => d.Value) : 0).TakeLast(4))
                    {
                        <div class="col-lg-3 col-6 product">
                            <div class="card-main">
                                <div class="card-top">
                                    <a asp-controller="Games" asp-action="Detail" asp-route-id="@item.Id">
                                        <img src="~/assets/images/Game-Images/@item.GameImages.FirstOrDefault(m=>m.IsMain==true).Name"
                                             alt="">
                                    </a>
                                    @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                    {
                                        <div class="new">
                                            <span>YENI</span>
                                        </div>
                                    }
                                    @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                    {
                                        <div class="discount">
                                            <span>ENDIRIM</span>
                                        </div>
                                    }
                                    @{
                                        var favorites = ViewBag.Favorites as List<(int Id, string Type)>;
                                        bool isFavorite = favorites?.Any(x => x.Id == item.Id && x.Type == "game") == true;
                                    }
                                    <div class="like @(isFavorite ? "liked" : "")" product-type="game" data-id="@item.Id">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="game-name">
                                        <a href="">
                                            @item.Name
                                            @if (item.GameCategory.Any())
                                            {
                                                @($" ({string.Join(", ", item.GameCategory.Select(c => c.Name))})")
                                            }
                                        </a>
                                    </div>
                                    <div class="game-price mt-4">
                                        @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                        {
                                            <span class="old-price">@item.Price.ToString("F0") ₼</span>
                                            <span class="price">
                                                @((item.Price - item.GameDiscounts.Max(m => m.Value) * item.Price / 100).ToString("F0")) ₼
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="price">@item.Price.ToString("F0") ₼</span>
                                        }

                                    </div>
                                </div>
                                <div class="add-basket">
                                    <button class="add-basket-btn" type="submit" product-type="game" data-id="@item.Id">SƏBƏTƏ AT</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="see-all">
                <a asp-asp-controller="Games" asp-action="Index">BÜTÜN MƏHSULLARA BAXIN <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </section>

    <section id="recently-added">
        <div class="container-xxl">
            <h3 class="title ">Son əlavə olunanlar</h3>
            <div class="products">
                <div class="row">
                    @foreach (var item in Model.Games.TakeLast(4))
                    {
                        <div class="col-lg-3 col-6 product">
                            <div class="card-main">
                                <div class="card-top">
                                    <a asp-controller="Games" asp-action="Detail" asp-route-id="@item.Id">
                                        <img src="~/assets/images/Game-Images/@item.GameImages.FirstOrDefault(m=>m.IsMain==true).Name"
                                        alt="">
                                    </a>
                                    @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                    {
                                        <div class="new">
                                            <span>YENI</span>
                                        </div>
                                    }
                                    @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                    {
                                        <div class="discount">
                                            <span>ENDIRIM</span>
                                        </div>
                                    }
                                        @{
                                            var favorites = ViewBag.Favorites as List<(int Id, string Type)>;
                                            bool isFavorite = favorites?.Any(x => x.Id == item.Id && x.Type == "game") == true;
                                        }
                                        <div class="like @(isFavorite ? "liked" : "")" product-type="game" data-id="@item.Id">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="game-name">
                                        <a href="">
                                            @item.Name
                                            @if (item.GameCategory.Any())
                                            {
                                                @($" ({string.Join(", ", item.GameCategory.Select(c => c.Name))})")
                                            }
                                        </a>
                                    </div>
                                    <div class="game-price mt-4">
                                        @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                        {
                                            <span class="old-price">@item.Price.ToString("F0") ₼</span>
                                            <span class="price">
                                                @((item.Price - item.GameDiscounts.Max(m => m.Value) * item.Price / 100).ToString("F0")) ₼
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="price">@item.Price.ToString("F0") ₼</span>
                                        }

                                    </div>
                                </div>
                                <div class="add-basket">
                                    <button class="add-basket-btn" type="submit" product-type="game" data-id="@item.Id">SƏBƏTƏ AT</button>
                                </div>
                            </div>
                        </div>
                    }
               
                </div>
            </div>
            <div class="see-all">
                <a asp-controller="Games" asp-action="Index">BÜTÜN MƏHSULLARA BAXIN <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/custom.js"></script>
}

