@model HomeVM

<main>
    <section id="main-header">
        <div class="backround-image" style="background-image:url('/assets/images/@Model.WelcomeBanner.Image')">
            <div class="container-xxl">
                <div class="opening-message">
                    <h1>@Model.WelcomeBanner.Title</h1>
                    <h2>@Model.WelcomeBanner.Description</h2>
                    <a class="buy-now" href="">İNDİ AL</a>
                </div>
            </div>
        </div>
    </section>
    <section id="make-shop">
        <div class="container">
            <h3 class="shop-message">Alış-veriş edin</h3>
            <div class="row">
                <div class="col-xl-3 col-6 shop-card">
                    <div class="card-main">
                        <a href="">
                            <div class="card-title">
                                <p>Oyun konsolları</p>
                                <p>Oyun konsolları kolleksiyamızı kəşf edin</p>
                            </div>
                            <div class="card-image">
                                <img src="https://cdn.playroom.az/menu_icon/cat_icon_106.webp" alt="">
                            </div>
                        </a>
                        <div class="all-products">
                            <a href="">Hamısı</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-6 shop-card">
                    <div class="card-main">
                        <a href="">
                            <div class="card-title">
                                <p>Oyunlar</p>
                                <p>Oyun kolleksiyamızı kəşf edin</p>
                            </div>
                            <div class="card-image">
                                <img src="https://cdn.playroom.az/menu_icon/cat_icon_148.webp" alt="">
                            </div>
                        </a>
                        <div class="all-products">
                            <a href="">Hamısı</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-6 shop-card">
                    <div class="card-main">
                        <a href="">
                            <div class="card-title">
                                <p>Aksesuarlar</p>
                                <p>Aksesuar kolleksiyamızı kəşf edin</p>
                            </div>
                            <div class="card-image">
                                <img src="https://cdn.playroom.az/menu_icon/cat_icon_115.webp" alt="">
                            </div>
                        </a>
                        <div class="all-products">
                            <a href="">Hamısı</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-6 shop-card">
                    <div class="card-main">
                        <a href="">
                            <div class="card-title">
                                <p>Oyun sükanları</p>
                                <p>Oyun sükanları kolleksiyamızı kəşf edin</p>
                            </div>
                            <div class="card-image">
                                <img src="https://cdn.playroom.az/menu_icon/cat_icon_160.webp" alt="">
                            </div>
                        </a>
                        <div class="all-products">
                            <a href="">Hamısı</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="special-game">
        <div class="backround-image" style="background-image:url('/assets/images/@Model.SpecialGameBanners.FirstOrDefault(m => m.IsActive == true).Image')">
            <div class="container-xxl">
                <div class="game-info">
                    <h3 class="game-name">@Model.SpecialGameBanners.FirstOrDefault(m => m.IsActive == true).Name</h3>
                    <h4 class="game-description">
                        @Model.SpecialGameBanners.FirstOrDefault(m => m.IsActive == true).Description
                    </h4>
                    <a class="more-info" href="">DAHA ƏTRAFLI <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="best-sellers">
        <div class="container-xxl">
            <h3 class="title ">Bizim bestsellerlərimiz</h3>
            <div class="products">
                <div class="row">
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/158/597/playroom_img_23_1730803860.png.webp"
                                    alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <!-- <div class="not-like">
                                <i class="fa-regular fa-heart"></i>
                                </div> -->
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/627/playroom_img_41_1744119114.jpg.webp"
                                    alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/595/playroom_img_30_1730803041.jpg.webp"
                                    alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/600/playroom_img_81_1744109859.jpg.webp"
                                    alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>

                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-all">
                <a href="">BÜTÜN MƏHSULLARA BAXIN <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </section>

    <section id="recently-added">
        <div class="container-xxl">
            <h3 class="title ">Son əlavə olunanlar</h3>
            <div class="products">
                <div class="row">
                    @foreach (var item in Model.Games.TakeLast(4))
                    {
                        <div class="col-lg-3 col-6 product">
                            <div class="card-main">
                                <div class="card-top">
                                    <a href="">
                                        <img src="~/assets/images/Game-Images/@item.GameImages.FirstOrDefault(m=>m.IsMain==true).Name"
                                        alt="">
                                    </a>
                                    @if (item.CreatedDate > DateTime.Now.AddYears(-1))
                                    {
                                        <div class="new">
                                            <span>YENI</span>
                                        </div>
                                    }
                                    @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                    {
                                        <div class="discount">
                                            <span>ENDIRIM</span>
                                        </div>
                                    }
                                    <div class="like">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="game-name">
                                        <a href="">
                                            @item.Name
                                            @if (item.GameCategory.Any())
                                            {
                                                @($" ({string.Join(", ", item.GameCategory.Select(c => c.Name))})")
                                            }
                                        </a>
                                    </div>
                                    <div class="game-price mt-4">
                                        @if (item.GameDiscounts != null && item.GameDiscounts.Any())
                                        {
                                            <span class="old-price">@item.Price.ToString("F0") ₼</span>
                                            <span class="price">
                                                @((item.Price - item.GameDiscounts.Max(m => m.Value) * item.Price / 100).ToString("F0")) ₼
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="price">@item.Price.ToString("F0") ₼</span>
                                        }

                                    </div>
                                </div>
                                <div class="add-basket">
                                    <button>SƏBƏTƏ AT</button>
                                </div>
                            </div>
                        </div>
                    }
               
                </div>
            </div>
            <div class="see-all">
                <a asp-controller="Games" asp-action="Index">BÜTÜN MƏHSULLARA BAXIN <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/custom.js"></script>
}

